@import '~bootstrap/scss/bootstrap.scss';

/* utility */
li {
    list-style-type: none;
}
  
a {
    color: white;
    text-decoration: none;
}



/* colors */
$bg-blue: #030535;
$paragraph-color: #03A7d3e6;
$red-span: #f9636b;
$btn-blue: #527ceb;
$bg-white: #FFFFFF;
$txt-black: #000000;
$brd-color: #b62463;
$bg-lightwhite: #efefef; 